<%- url = @event.new_record? ? admin_events_path : admin_event_path %>
<%= form_for(event, url: url) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :presented_by %>
    <%= f.text_field :presented_by, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label 'How many guests are users allowed to bring?' %>
    <%= f.number_field :guests_allowed, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label 'Event capacity' %>
    <%= f.number_field :capacity, class: 'form-control', placeholder: 'Enter 0 to hide the guest field' %>
  </div>

  <div class="field">
    <%= f.label :lock_fields %>
    <%= f.check_box :lock_fields, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-full-width' %>
  </div>
<% end %>
