<div class="event__rsvps__header">
  <h1 class="pull-left"><%= @event.rsvp_count %> RSVPs</h1>
  <%= link_to "Export RSVPs", admin_events_rsvps_path(format: "csv"), class: 'btn btn-primary pull-right' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Guests</th>
      <th>RSVP Date</th>
    </tr>
  </thead>

  <tbody>
    <% @event.rsvps.reverse.each do |rsvp| %>
      <tr>
        <td><div class="waitlisted waitlisted--<%= rsvp.waitlisted %>"></div></td>
        <td><%= rsvp.name %></td>
        <td><%= rsvp.email %></td>
        <td><%= rsvp.guests.join(", ") %></td>
        <td><%= formatted_date(rsvp.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
