<%= form_for(rsvp, url: create_rsvp_path) do |f| %>
  <% if rsvp.errors.any? %>
    <div class="rsvp__errors">
      <% rsvp.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <%- if @event.guests_allowed > 0 %>
    <div class="field">
      <%= f.label "How many guests are you bringing?" %>
      <%= f.select(:no_of_guests, Array.new(@event.guests_allowed + 1) {|i| i }, {}, { class: "form-control"} ) %>
    </div>
    <div class="rsvp__guests">
      <%- @event.guests_allowed.times do %>
         <div class="field">
          <%= f.label 'Your Guests Name' %>
          <%= text_field_tag 'guests[]', '', class: 'form-control' %>
        </div>
      <%- end %>
    </div>
  <%- end %>

  <div class="actions">
    <%= f.submit value: 'RSVP', class: 'btn btn-primary btn-full-width' %>
  </div>
<% end %>
