<%= form_for(rsvp, url: create_rsvp_path) do |f| %>
  <% if error %>
    <div class="rsvp__errors">
      <p><%= error %></p>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Full Name' %>
    <%= f.text_field :name, class: 'form-control', readonly: @event.lock_fields %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', readonly: @event.lock_fields %>
  </div>

  <%- if @event.guests_allowed %>
    <div class="field rsvps-new-guests">
      <%= f.label "How many guests are you bringing?" %>
      <%= f.select(:no_of_guests, Array.new(@event.guests_allowed + 1) {|i| i }, {}, { class: "form-control"} ) %>
    </div>
    <div class="rsvp__guests">
      <%- @event.guests_allowed.times do %>
        <div class="guest-fields">
          <div class="field">
            <%= f.label 'Your Guest\'s Name' %>
            <%= text_field_tag 'guest_names[]', '', disabled: true, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label 'Your Guest\'s Email (Optional)' %>
            <%= text_field_tag 'guest_emails[]', '', disabled: true, class: 'form-control' %>
          </div>
        </div>
      <%- end %>
    </div>
  <%- end %>

  <div class="actions">
    <%= f.submit value: 'RSVP', class: 'btn btn-primary btn-full-width' %>
  </div>
<% end %>
